:root {
  --color-black: #262626;
  --color-red: #DC493A;
  --color-red-dark: #64221B;
  --color-yellow: #EF9D51;
  --color-yellow-dark: #6D4E30;
  --color-purple: #845A6D;
  --color-blue: #006494;
  --color-green: #69B578;
  --color-gray: #616161;
  --color-white: #D7D7D7;
  --color-shadow: #616161;
  --color-background: black;
}
