.frequency {
  font-family: IBM Plex Mono;
  font-weight: 100;
  font-style: italic;
  color: var(--color-red);
}



.battery-bars {
  position: absolute;
  display: table;
  table-layout: fixed;
  left:0px;
  bottom: 225px;
  height: 25px;
  width: 100%;
  background-color: var(--color-black);
}
.battery-bar {
  display: table-cell;
  height:inherit;
  border-style: solid;
  border-width: 2px 1px;
  border-color: var(--color-gray);
  box-sizing:border-box;
}
.batt_led_off{
  background-color: var(--color-black);
}

.batt_led_danger{
  background-color: var(--color-red);
}

.batt_led_warning {
  background-color: var(--color-yellow);
}
.batt_led_good{
  background-color: var(--color-green);
}
