/* @import '/node_modules/@ibm/plex/css/ibm-plex.css'; */

:root {
  --color-black: #262626;
  --color-red: #DC493A;
  --color-red-dark: #64221B;
  /* --color-yellow: #7E52A0; */
  /* --color-yellow: #EE8434; */
  --color-yellow: #EF9D51 ;
  --color-yellow-dark: #6D4E30;
  --color-purple: #845A6D;
  --color-blue: #006494;
  --color-green: #69B578;
  --color-gray: #616161;
  --color-white: #D7D7D7; /* good?
  /* --color-white: #D7D7D7; */
  /* --color-white:#888888; */
  --color-shadow: #616161;
}



html,body {
  background-color: var(--color-black);
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.fullHeight {
  height: 100%;
  padding: 0px !important;
}

.col-sm {
  color: var(--color-white);

}

.mic_id {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: italic;
  /* text-shadow:1px 1px 1px var(--color-shadow); */
}

.uploadmode .mic_name .mic_id {
  font-size: 1vw;
}



.above-mid .col-sm {
  /* border: .5px solid; */
  border-color: var(--color-black);
  padding: 0px;
}



.name{
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: bold;
  /* text-shadow:2px 2px 0px #333333 */
}


/* .info-bar components */
.electrode {
  position: absolute;
  left: 0px;
  bottom: 250px;
  height: 125px;
  width: 100%;
  /* background-color: purple; */
  /* display: none; */
}

.battery-bars {
  position: absolute;
  display: table;
  table-layout: fixed;
  left:0px;
  bottom: 225px;
  height: 25px;
  width: 100%;
  background-color: var(--color-black);
}
.battery-bar {
  display: table-cell;
  height:inherit;
  border-style: solid;
  border-width: 2px 1px;
  border-color: var(--color-gray);
  box-sizing:border-box;
}

.batt_led_off{
  background-color: var(--color-black);
}

.batt_led_danger{
  background-color: var(--color-red);
}

.batt_led_warning {
  background-color: var(--color-yellow);
}
.batt_led_good{
  background-color: var(--color-green);
}


canvas.audio-graph{
  position: absolute;
  left: 0px;
  bottom:125px;
  width:100%;
  height:100px;
  /* background-color: green; */
}

canvas.slotgraph {
  position: absolute;
  left: 0px;
  bottom: 25px;
  width:100%;
  height:200px;
  /* background-color: red; */
}

.offset {
  position: absolute;
  bottom: 180px;
  right: 5px;
  font-family: 'IBM Plex Mono';
  font-weight: 100;
  font-style: italic;
  color: var(--color-green);
}

.frequency{
  position: absolute;
  bottom: 80px;
  right: 5px;
  font-family: 'IBM Plex Mono';
  font-weight: 100;
  font-style: italic;
  color: var(--color-red);
}

.diversity {
  position: absolute;
  display: table;
  table-layout: fixed;
  left: 0px;
  bottom:0px;

  height: 25px;
  width: 100%;
}

.diversity-bar {
  display: table-cell;
  height:inherit;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-gray);
  box-sizing:border-box;
}


.diversity-bar-blue{
  background-color: var(--color-blue);
}

.diversity-bar-red{
  background-color: var(--color-red);
}

.diversity-bar-off{
  background-color: var(--color-black);
}

.chartzone  {
  /* display: none; */
}

.errorzone {
  /* display: block; */
  font-family: IBM Plex Mono;
  font-weight: 100;
  font-style: italic;
  color: var(--color-yellow);
}




@media (min-width: 61281px) {
  .above-mid {
    height: 100%;
  }
  .name {
    font-size: calc(1vw + 7pt);
  }

  .mic_id {
    position: absolute;
    top: 0px;
    font-size: 30pt;

  }
  .mic_name {
    /* height: calc(100% - 250px); */
    /* height: 100%; */
    display: flex;
    justify-content:center;
    align-items:center;
  }



  .info-drawer {
    /* height: 250px; */
  }

  .flexfix {
    display: none;
  }


  /* electrode & info drawer switch */
  /* no electrode or info-drawer */
  .elinfo00 .col-sm .mic_name {
    height: 100%;
  }

  .elinfo00 .col-sm .electrode {
    display: none;
  }

  .elinfo00 .col-sm .info-drawer {
    display: none;
  }

  /* electrode */
  .elinfo01 .col-sm .mic_name {
    height: calc(100% - 125px);
    /* background-color: black; */
    background: #262626;
  }

  .elinfo01 .col-sm .electrode {
    display: block;
    bottom: 0px;
  }

  .elinfo01 .col-sm .info-drawer {
    display: none;
  }

  .elinfo01 .col-sm .mic_name {
    /* background-color: black; */
  }

  /* info drawer */
  .elinfo10 .col-sm .mic_name {
    height: calc(100% - 250px);
  }

  .elinfo10 .col-sm .electrode {
    display: none;
  }

  .elinfo10 .col-sm .info-drawer {
    display: block;
  }

  /* electrode and info drawer */
  .elinfo11 .col-sm .mic_name {
    height: calc(100% - 375px);
    background: var(--color-black);
  }

  .elinfo11 .col-sm .electrode {
    display: block;
  }

  .elinfo11 .col-sm info-drawer {
    display: block;
  }

  .errortype{
    position: absolute;
    bottom: 80px;
    right: 5px
  }

  .ip {
    position: absolute;
    bottom: 60px;
    right: 5px;
  }

  .rxinfo {
    position: absolute;
    bottom: 40px;
    right: 5px;
  }

  .navbar {
    display: none;
  }
}


@media (max-width: 61280px) {
  .electrode {
    display: none;
  }
  .info-drawer {
    /* display: none; */
    height: 130px;
  }


  .header{
    display:none;

  }
  .col-sm{
    vertical-align: middle;
    min-width: 256px;
    /* flex-grow: 0; */
    flex-shrink: 1;
  }


  .mic_id{
    display: inline;
    font-weight: 400;
    font-size: 18pt;
    text-align: left;
    padding-left: 1em;
    /* float:left; */
  }

  .name {
    float: right;
    font-size: 12pt;
    display: inline;
    font-weight: 400;
    padding-right: 1em;
    text-align: right;
    font-size: 18pt;
    margin: 0px;
  }

  .battery-bars {
    height: 15px;
    bottom: 115px;
  }
  .battery-bar {
    border-width:1px;
  }

  .offset{
    /* position: absolute; */
    bottom: 75px;
    right: 5px;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-weight: 100; */
    /* font-style: italic; */
    /* color: red; */
  }

  .frequency{
    /* position: absolute; */
    bottom: 25px;
    right: 5px;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-weight: 100; */
    /* font-style: italic; */
    /* color: red; */
  }

  canvas.audio-graph{
    height:50px;
    bottom:65px;
  }
  canvas.slotgraph{
    height:100px;
    bottom:15px;
  }

  .diversity {
    height: 15px;
  }
  .diversity-bar {
    border-width: 1px;
  }


  .errortype{
    position: absolute;
    bottom: 75px;
    right: 5px
  }

  .ip {
    position: absolute;
    bottom: 55px;
    right: 5px;
  }

  .rxinfo {
    position: absolute;
    bottom: 35px;
    right: 5px;
  }

  .above-mid {
    padding-top: 38px;
  }

  .AUDIO_PEAK {
    animation: pulse .5s infinite;
  }

}


@media (max-width: 512px) {
  .info-drawer {
    display: none;
  }
}


/* Background Colors */
.GOOD{
  /* background: #155724; */
  background: var(--color-green);
}

.PREV_GOOD{
  /* background: #155724; */
  background: var(--color-blue);
}

.REPLACE {
  /* background: #a2ab58; */
  background: var(--color-yellow);
}

.PREV_REPLACE{
  /* background: purple; */
  /* background: #a2ab58; */
  /* background: var(-- color-yellow); */
  background: repeating-linear-gradient(
  -45deg,
  var(--color-yellow-dark),
  var(--color-yellow-dark) 40px,
  var(--color-black) 40px,
  var(--color-black) 80px
);
  /* background: var(--color-yellow-dark); */
}

.CRITICAL, .PREV_CRITICAL{
  /* background: #a73737; */
  background: var(--color-red);
}

.PREV_CRITICAL {
  background: repeating-linear-gradient(
    -45deg,
    var(--color-red-dark),
    var(--color-red-dark) 40px,
    var(--color-black) 40px,
    var(--color-black) 80px
  );
  /* background: var(--color-red-dark); */
}

.UNASSIGNED{
  /* background: black; */
  background: var(--color-black);
}

.TX_COM_ERROR {
  /* background: black; */
  background: var(--color-black);
}

.RX_COM_ERROR {
  /* background: black; */
  background: var(--color-purple);
}


@keyframes pulse {
  0% {
    background: var(--color-red);
  }

  100% {
    background-color: var(--color-black);
  }

}

.electrode.AUDIO_PEAK, .elinfo00 .AUDIO_PEAK, .elinfo10 .AUDIO_PEAK {
  animation: pulse .5s infinite;
}


#largelink {
  padding-top: 4em;
}

.message-board{
  display: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-left: -15px;
  margin-right: -15px;
  padding: 3em;
}

.message-board a {
  color: inherit;
}

.settings {
  display: none;
  background-color: var(--color-blue);
  color: var(--color-black);
  margin-left: -15px;
  margin-right: -15px;
  padding: 3em;
}

/* POP */
.pop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  /* background-color: var(--color-yellow); */
}

.navbar-toggler {
  border: none;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggler {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-toggler {
  outline: none !important;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}



.sidebar-nav {
  display: none;
  position: relative;
  width: 400px;
  height: 100%;
  padding-top: 38px;
  background-color: var(--color-blue);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#micboard {
  top: 0px;
  position: absolute;
  left: 0px;
  min-height: 100px;
}

.sidebar-open #micboard {
  left: 400px
}

.sidebar-open .sidebar-nav {
  display: block;
}

.slot-prototype-list .col-sm .info-drawer {
  display: none;
}

#eslotlist {
  background-color: var(--color-black);
  height:200px;
  overflow: scroll;
}

#eslotlist .col-sm {
  padding-left: 0px;
  padding-right: 0px;
}
