html,body {
  background-color:#000000;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.fullHeight {
  height: 100%;
}

.col-sm {
  color: white;
  padding-top: .5em;
}
.mic_id {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  text-align: center;
  font-style: italic;
  font-size: 30pt;
  text-shadow:2px 2px 2px #333333
}

.above-mid {
  height: 100%;

}



.above-mid .col-sm {
  border: .5px solid;
  border-color: black;
  padding: 0px;
}

.mic_name {
  height: calc(100% - 375px)
}

.name{
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-style: italic;
  font-size: calc(1vw + 7pt);
  text-align: center;

  position: relative;
  top:20%;
  transform: translateY(250%);
  text-shadow:2px 2px 0px #333333
}

.electrode {
  position: absolute;
  left: 0px;
  bottom: 250px;
  height: 125px;
  width: 100%;
  background-color: purple;
}

.battery-bars {
  position: absolute;
  left:0px;
  bottom: 225px;
  height: 25px;
  width: 100%;
  background-color: black;
}
.battery-bar {
  width: 20%;
  height:inherit;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  /* background-color: blue; */
  box-sizing:border-box;
  float:left;
}

.batt_led_off{
  background-color: black;
}

.batt_led_danger{
  background-color: red;
}

.batt_led_warning {
  background-color: orange;
}
.batt_led_good{
  background-color: green;
}


canvas.audio-graph{
  position: absolute;
  left: 0px;
  bottom:125px;
  width:100%;
  height:100px;
  background-color: green;
}

canvas.rf-graph {
  position: absolute;
  left: 0px;
  bottom: 25px;
  width:100%;
  height:100px;
  background-color: red;
}

.diversity {
  position: absolute;
  left: 0px;
  bottom:0px;

  height: 25px;
  width: 100%;
  /* background-color: blue; */
}

.diversity-bar {
  width: 50%;
  height:inherit;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  /* background-color: blue; */
  box-sizing:border-box;
  float:left;
}

.diversity-bar-on{
  background-color: blue;
}

.diversity-bar-off{
  background-color: black;
}


@media (max-width: 980px) {
  .info-drawer {
    display: none;
  }

  .above-mid {
    height: unset;
  }
  .header{
    display:none;
  }
  .col-sm{
    padding-top: unset;
    vertical-align: middle;
    /* text-align: center; */
  }
  .mic_id{
    display: inline;
    position: unset;
    top: unset;
    margin: unset;
    transform: unset;
    font-weight: 400;
    font-size: 18pt;
    text-align: left;
    float:left;
  }

  .name{
    font-size: 12pt;
    display: inline;
    position: unset;
    /* float: center; */
    margin:unset;
    transform: unset;
    font-weight: 300;
    padding-left: 4em;
    text-align: left;
    font-family: 'Roboto', sans-serif;

    font-size: 18pt;
  }

}

/* Backgrounds */
.GOOD{
  background: #155724;
}

.PREV_GOOD{
  background: #155724;
  background: -webkit-linear-gradient(to top, #155724, #000000, #000000);
  background: linear-gradient(to top, #155724, #000000, #000000);
}

.REPLACE, .PREV_REPLACE{
  background: #a2ab58;
  /* background: -webkit-linear-gradient(to top, #a2ab58, #000000); */
  /* background: linear-gradient(to top, #a2ab58, #000000); */
}

.CRITICAL, .PREV_CRITICAL{
  background: #a73737;
  /* background: -webkit-linear-gradient(to top, #7a2828, #000000); */
  /* background: linear-gradient(to top, #a73737, #000000); */
}

.COM_ERROR{
  background: #523602;
  background: -webkit-linear-gradient(to top, #523602, #000000, #000000, #000000);
  background: linear-gradient(to top, #523602, #000000,#000000, #000000);
}
